
.border-1px(@color: #e5e5e5){
  position: relative;
  &:after{
    display: block;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    border-bottom: 1px solid @color;
    content: '';
  }
}
.border-none(){
  &:after {
    display: none;
  }
}
.bg-pink-l-r(@purple: #7b3ce2,@pink: #df54b2){
  background: #8f3fdd;
  background: -webkit-linear-gradient(left,@purple,@pink);
  background: -o-linear-gradient(left,@purple,@pink);
  background: -moz-linear-gradient(left,@purple,@pink);
  background: linear-gradient(to right,@purple,@pink);
}
.bgimg-pink-t-b(@pink: #df54b2,@purple: #7b3ce2){
  background-image: -webkit-linear-gradient(top,@pink ,@purple);
  background-image: -o-linear-gradient(top,@pink ,@purple);
  background-image: -moz-linear-gradient(top,@pink ,@purple);
  background-image: linear-gradient(to top,@pink ,@purple);
}



